<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Study Instructions</title>
    <style>
        body{
            background-color: rgb(237, 245, 248);
        }
        #logo{
            width: 25%;
            vertical-align: center;
        }
        #site-title {
            width: 100vw;
            height: 10vh;
            background-color: white;
            font-size: larger;
        }
        .inform-box {
            margin: auto;
            margin-top: 4%;
            max-width: 900px;
        }
    </style>
</head>

<body class="d-flex justify-content-center">

  <div class="flex-column text-center">
      <div id="site-title" class="shadow-sm p-4 bg-white rounded">
        <img src="{{ url_for('static', filename='download.png') }}" width="40px">
        
            &nbsp; &nbsp; 
            Measuring Perceived Harm on Reddit
        </img>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center shadow p-5 bg-white rounded inform-box">

    <a href="https://stanford.edu">
      <img src="{{ url_for('static', filename='SUSig_Seal_Left.png') }}" id="logo">
    </a>

    <h1 class="text-center mt-4 mb-4">Extension Installation</h1>
    <div class="text-start align-self-start mt-4">
    <h4>Extension Installation</h4>
    <ol start="1">
	    <li>Download the Chrome extension file zip at <a href="https://drive.google.com/file/d/1X4ilGqk1ogDWmzy1SiuZFp5j0wHbX6OF/view?usp=sharing">this link</a>.</li>
      <li>Unzip the folder. It should be named <b>'reddit-extension-main'.</b></li>
      <li>Type <b>chrome://extensions/</b> in the Chrome search bar. (Or click on the puzzle icon in the topright - go to "Manage Extensions"</li>
      <br/>
      <img src="{{ url_for('static', filename='ch.png') }}" width="700">
      <br/>
      <br/>
      <li>In the upper right corner of the nav bar, there is a toggle to turn Developer Mode on or off. Turn it on!</li>
      <li>In the left corner, click the 'Load unpacked' button.</li>
      <li>Navigate into the directory (should be inside  <b>'reddit-extension-main'.</b>) and click 'Select Folder'.</li>
      <li>Browse Reddit!</li>
    </ol>    
        
    <br>
    <br>
    
    <h4>Extension Installation Video</h4>
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/oKuARCdx4f8"></iframe>
        
    <br>
    <br>

    <p>
      In this study, we will be evaluating the effect that viewing comments on Reddit has on the end-user experience. Participating in this study consists of the following steps:
      <li>Installing a Google Chrome browser extension</li>
      <li>Browsing Reddit <u>while logged into</u> their Reddit account on Chrome on desktop</li>
      <li>Uploading data collected by the browser extension</li>
      <li>Answering a short survey based on the uploaded data</li>
      <br>
      We expect this to take approximately 25 minutes of active engagement (5 minutes for the extension installation, 20 minutes for the survey) with passive, regular usage of Reddit by participants over TK days. Participants will be compensated $12.25 for their time.
    </p>
    
    <br>
    <br>
    
  </div>

  </div>
</body>

<script>
  document.getElementById('consent-checkbox').addEventListener('change', function() {
    document.getElementById('submit-btn').disabled = !this.checked;
  });
</script>

</html>

