<style>
    .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Dashboard</title>
</head>
<body class="d-flex justify-content-center" >
    <div class="flex-column" style="margin-top: 30px; " >
        <h6 style=" text-align: center;">Reddit Survey Website</h6>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
            {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        
        <h2 style="margin-top: 40px;">Dashboard</h2>

        <h6  style="margin-top: 50px;">Explanations</h6>
        <p>How to Download your file: XXX Upload your CSV comments file here.</p>

        <br/>
        {% if error %}
            <p id="upload">{{ error }}</p>
        {% endif %}

        {% if success %}
            <p id="upload">File Uploaded Successfully</p>
        {% endif %}

        <form id="upload_form" method="POST" action="/dashboard" enctype="multipart/form-data" class="form-group">
            <label id="upload" for="csv_file" class="form-control-file">Upload CSV File:</label>
            <input  id="upload" type="file" id="csv_file" name="csv_file" accept=".csv">
            <input  id="upload" style="margin-top: 10px;" type="submit" class="btn btn-outline-success" value="Upload">
        </form>

        <br/>
        {% if success %}
        <form id="generateForm" method="POST" action="/generate">
            <button id="gen_survey" style="margin-left:35%; margin-top: 30px;" class="btn btn-success">Generate Survey</button>
            <div class="loader" style="display: none; margin-left:35%; margin-top: 30px;" id="id_loader"></div>
            <p class="loadertext" style="display: none; margin-left:20%; margin-top: 30px;" id="id_loader_text" > Generating Survey Please Wait a Moment</p>
        </form>
        {% endif %}
    </div>
</body>

<script>
    var upload = document.getElementById('upload');
    var upload_form = document.getElementById('upload_form');
    var gen_survey = document.getElementById('gen_survey');
    var loader = document.getElementById('id_loader');
    var loadertext = document.getElementById('id_loader_text');
    console.log(upload)

    generateForm.addEventListener('submit', function(event) {
        upload_form.style.display = 'none'; 
        upload.style.display = 'none'; 
        gen_survey.style.display = 'none'; 
        loader.style.display = 'block'; 
        loadertext.style.display = 'block';
    });
</script>

</html>
