<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Reddit Survey</title>
</head>
<body class="d-flex justify-content-center">
    <div class="flex-column" style="margin-top: 30px; width: 600px;" >
      <h6 style="margin-bottom: 5%; color:gray;">Measuring Perceived Harm on Reddit</h6>
      <h3 style="margin-bottom: 5%;">Demographic Questions</h3>

        <form method="POST" action="/demosubmit" id="survey-form">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                    {% for message in messages %}
                        <li class="flash-message">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}

                <label style="margin-bottom: 2%;" for="age">1. What is your age?</label>
                <select class="form-select" id="age" name="age" style="margin-bottom: 5%;">
                  <option disabled selected value> -- select an option -- </option>
                  {% for option in age_options %}
                    <option value="{{ option }}">{{ option }}</option>
                  {% endfor %}
                </select>
                


                <label style="margin-bottom: 2%;" for="gender">2. What is your gender?</label>
                <div style="margin-bottom: 5%;">
                  {% for option in gender_options %}
                    <div>
                      <input class="form-check-input" type="checkbox" id="{{ option }}" name="gender" value="{{ option }}">
                      <label for="{{ option }}">{{ option }}</label>
                    </div>
                  {% endfor %}
                  <div>
                    <input class="form-check-input" type="checkbox" id="other" name="gender" value="other">
                    <label for="other">Specify</label>
                    <input class="form-control" type="text" id="other-input" name="other_gender" placeholder="What is your gender?">
                  </div>
                </div>
                


                <label style="margin-bottom: 2%;" for="ethnicity">3. What is your ethnicity?</label>
                <div style="margin-bottom: 5%;">
                  <select class="form-select" id="ethnicity" name="ethnicity" onchange="handleEthnicitySelection()">
                    <option disabled selected value> -- select an option -- </option>
                    {% for option in ethnicity_options %}
                      <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                    <option value="other">Specify</option>
                  </select>
                  <div id="ethnicity-textbox" style="display: none;">
                    <input class="form-control" type="text" id="other-ethnicity" name="other_ethnicity" placeholder="What is your ethnicity?" style="margin-top: 2%;">
                  </div>
                </div>
                
                <script>
                  function handleEthnicitySelection() {
                    var selectedOption = document.getElementById("ethnicity").value;
                    var textbox = document.getElementById("ethnicity-textbox");
                
                    if (selectedOption === "other") {
                      textbox.style.display = "block";
                    } else {
                      textbox.style.display = "none";
                    }
                  }
                </script>
                


                <label style="margin-bottom: 2%;" for="education">4. What is the highest degree or level of school you have completed?</label>
                <select  class="form-select"  id="education" name="education"  style="margin-bottom: 5%;">
                  <option disabled selected value> -- select an option -- </option>
                  {% for option in education_options %}
                    <option value="{{ option }}">{{ option }}</option>
                  {% endfor %}
                </select>


                 <button type="submit" id="submit-btn"  class="btn btn-primary" disabled>Submit</button>
        </form>
  </div>
</body>
</html>

<script>
  // Get all form fields
  const formFields = document.querySelectorAll('#survey-form select');

  // Function to check if any field has a non-selected option
  function checkFormFields() {
    let allSelected = true;
    formFields.forEach(field => {
      if (field.value === '') {
        allSelected = false;
      }
    });
    return allSelected;
  }

  // Event listener for form field changes
  formFields.forEach(field => {
    field.addEventListener('change', () => {
      const submitBtn = document.getElementById('submit-btn');
      submitBtn.disabled = !checkFormFields();
    });
  });
</script>





