<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Forgot UUID/Username</title>
</head>
<body class="d-flex justify-content-center flex-column" style="margin:50px; width: 70%;">
    <h5  style="white-space: pre-line">Forgot UUID/Username</h5>
    <div  style="white-space: pre-line">The UUID/Username should be located in the original study notice. If you cannot find it, Please Contact :
         (Catherine Han, <a href = "mailto: catherinehan@cs.stanford.edu">catherinehan@cs.stanford.edu</a>)
         (Seonghee Lee,<a href = "mailto: shl1027@stanford.edu">shlee@cs.stanford.edu</a>)
        </div>
</body>
</html>
