<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <title>Study Overview</title>
</head>
<body class="row justify-content-center align-middle h-100 mx-auto" style="width: 80%; padding:5% 10%">
    <div class="col-10 text-center align-self-start">
        <a href="https://stanford.edu">
            <img src="assets/SUSig_Seal_Left.png" border="0" width="100%">
        </a>
    </div>
    <h1 class="col-10 text-center align-self-start" style="width: 80%; padding-bottom:4%" >Study Overview</h1>
    <div class="col-10 text-start align-self-start" >
    <p>
      In this study, we will be evaluating the effect that viewing comments on Reddit has on the end-user experience. Participating in this study consists of the following steps:
      <li>Installing a Google Chrome browser extension</li>
      <li>Browsing Reddit <u>while logged into</u> their Reddit account on Chrome on desktop</li>
      <li>Uploading data collected by the browser extension</li>
      <li>Answering a short survey based on the uploaded data</li>
      <br>
      We expect this to take approximately 25 minutes of active engagement (5 minutes for the extension installation, 20 minutes for the survey) with passive, regular usage of Reddit by participants over TK days. Participants will be compensated $12.25 for their time.
    </p>
    
    
    <h4>Data Usage</h4>
    <p>The data collected from this study, including the uploaded Reddit data, survey responses, and demographic information, will be used for research purposes only. The data will be anonymized and aggregated, meaning that any personally identifiable information will be removed and the data will be combined with that of other participants. Although you must be logged in while using the extension, we will not collect any login information nor attempt to deanonymize participants.</p>
    
    <p>The research findings may be published or presented in academic conferences, journals, or other scholarly outlets. However, no individual participant will be identified in any publications or presentations.</p>
    
    <h4>Data Security and Privacy</h4>
    <p>The browser extension you install will only execute on relevant pages (Reddit domains) and tracks what posts and comments you are viewing. Survey responses will be about the Reddit browsing and demographic data. Any data we collect will be encrypted in transit via TLS and will be stored in secured servers that only research personnel will have access to, and it will be deleted after the study is complete. </p>
    
    <h4>Voluntary Participation and Right to Withdraw</h4>
    <p>I understand that my participation in this study is voluntary, and I have the right to withdraw at any time without penalty or loss of benefits. If I choose to withdraw, I understand that any data I have provided up to that point will be retained and used for analysis, but my information will not be included in any future research outputs.</p>
    
    <h4>Contact Information</h4>
    <p>If you have any questions or concerns regarding the study, you may contact the researcher leading this experiment at the following e-mail address: cathan@stanford.edu</p>
    
    <h4>Consent</h4>
    <p>By checking the box below, I confirm that:</p>
    <label for="consent-checkbox">
      <input type="checkbox" id="consent-checkbox" required>
      &nbsp;I have read and understood the information provided, and I voluntarily consent to participate in this study. I also acknowledge that I have the right to withdraw from the study at any time.
    </label>
    
    <br>
    <br>
    
    <form method="POST" action="/dashboard">
      <button type="submit" class="btn btn-success" id="submit-btn" disabled>Submit</button>
    </form>
  </div>
</body>

<script>
  document.getElementById('consent-checkbox').addEventListener('change', function() {
    document.getElementById('submit-btn').disabled = !this.checked;
  });
</script>

</html>

