<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Login</title>
</head>




<body class="d-flex justify-content-center" >

    <div class="position-absolute top-0 start-0"  style="margin-left: 2%; margin-top: 1%;">
        <a href="https://stanford.edu">
            <img src={{ url_for('static', filename="SUSig_Seal_Left.png") }} width="200px">
        </a>
    </div>


    <div class="flex-column text-center" style="margin-top: 30px;" >
        <p class="flex-column text-center" style="width:100vw; font-weight: 800;">
            <img src={{ url_for('static', filename="download.png") }} width="40px"/>  Measuring Perceived Harm on Reddit
        </p>
        <hr> 
        <!-- <p> Enter you your UUID and Username to login. <br/> The UUID/Username is listed in the original study notice.
            <br/> If you have forgotten it, please contact xxx@stanford.edu</p> -->

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
            {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <div class="d-flex align-items-center justify-content-center shadow p-5 mb-5 bg-white rounded" style="margin:auto; margin-top: 4%; max-width: 600px;">    
        <form method="POST" action="/" >
            <h2 style="margin-top: 4%;">Login</h2>
            <div class="form-group row text-center">
                <label for="uuid" class="col-sm-2 col-form-label">UUID:</label>
                <input type="text" class="form-control" id="uuid" name="uuid" required>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group row">
                <a class="col-sm-2 col-form-label  text-end" href="./forgot.html" style="margin-top: 2%; width:100%;">Forgot UUID/Username?</a>
            </div>
            <div style="float:right; margin-top: 30px;">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>


        </form>

        </div>
    </div>

</body>
</html>
