<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Not Enough Error</title>
</head>
<body class="d-flex justify-content-center flex-column" style="margin:50px; width: 70%;">
    <h5  style="white-space: pre-line">Not Enough Comments</h5>
    <div  style="white-space: pre-line">
      You do not have enough comments to do this research survey. Please browse more comments on reddit
      <ol>
        <li>Make sure the comments are not from deleted posts</li>
        <li>Make sure the posts you are viewing have comments</li>
        <li>Try to view at least 60+ comments</li>
      </ol>
    </div>
</body>
</html>
