<!DOCTYPE html>
<html>
<head>
    <title>Reddit Survey</title>
</head>
<body>
    <h1>Reddit Survey</h1>

    <form method="POST" action="/survey">
        <button>Start Survey</button>

        <p>Which one of these comments have you seen?</p>
        {% if option1 %}
        <label for="option1">
            <input type="radio" id="option1" name="option" value="{{ option1 }}">{{ option1 }}
        </label>
        {% endif %}
          <br>
        {% if option2 %}
        <label for="option2">
            <input type="radio" id="option2" name="option" value="{{ option2 }}">{{ option2 }}
        </label>
        {% endif %}

    </form>
    <form method="POST" action="/survey">
        <button>Next</button>
    </form>
</body>
</html>
